body {
    /* changing font of the entire site on our body */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background:#007bff;
    color:#ffffff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 600px;
    background-color: white;
    /* does curves on the radius */
    border-radius: 15px;
    /* has 4 attributes= horizontal effect, vertical, blur radius and blur color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}
/* calling a class = .about and for id= #about */
.about {
    padding: 20px;

}

footer {
    text-align: center;
    padding: 10px;
    background: #eee;
}

.social-links {
    margin-top: 10px;
}

/* targeting only a tag in the href */
.social-links > a {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.social-links > a:hover {
    text-decoration: none;
    font-size: 30px;
    color: black;
}

footer> p {
    color:black;
    font-weight: bold;
    font-size: 18px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background-color:#ffffff;
    border-left: 4px solid #28a745;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.113);
    transition: transform 0.2s;
}

.project-card:hover {
    transform:translateY(-5px);
}

.project-card > h3 {
    margin-top: 0;
    color: #28a745;
}

.project-card > p {
    font-size: 14px;
    color: #444;
}

.project-card > a {
    display: inline-block;
    padding: 8px 15px;
    background-color:#007bff;
    color: #FFF;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.project-card > a:hover {
   background-color: #0056b3;
}

nav {
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
    gap: 20px;
}

.navbar > li {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.navbar > li > a:hover {
    background-color:#007bff;
    
}